<style>
.name_input {
    width: 30vw;
}
</style>
<body>
<div class="center"><form method="post" action="name">
    <div class="input_names_container">
        <input type="text" name="first_name" class="name_input" placeholder=" First Name" required>
        <input type="text" name="last_name" class="name_input" placeholder=" Last Name" required>
    </div>
    <input type="submit">
</form>
</div>
</body>