<div class="center"><form method="post" action="address">
    <div class="address_container">
        <input type="hidden" name="first_name" value="<%=first_name%>" class="name_input">
        <input type="hidden" name="last_name" value="<%=last_name%>" class="name_input">
        <input type="text" name="street" class="street_input" placeholder="Street">
        <input type="text" name="city" class="city_input" placeholder="City">
        <input type="text" name="state" class="state_input" placeholder="State">
        <input type="text" name="zip" class="zip_input" placeholder="Zip Code">
    </div>
    <input type="submit">
</form>
</div>